@use 'sass:color';

// --- Base Palette ---

// Inputs
$input-light-bg: rgb(236, 233, 233);
$input-dark-bg: rgb(52, 90, 112);
$input-light-text: #000;
$input-dark-text: #e3e2e2;

// Navbar
$navbar-light-bg: #010203;
$navbar-dark-bg: #010203;

// Background
$color-light-bg: rgba(237, 234, 224, 0.5);
$color-dark-bg: rgba(50, 50, 70, 0.4);

// Text
$color-light-text: #071e2b;
$color-dark-text: #edeae0;

// Cards
$secondary-light: #6cc7bf;
$secondary-dark: #009689;
$color-light-card-bg: rgba(117, 131, 123, 0.5);
$color-dark-card-bg: rgba(117, 131, 123, 0.3);

$color-primary: #038f60;
$transition-speed: 0.3s ease;

$color-light-text-hover: #0a2c3f;
$color-dark-text-hover: #ffffff;

$color-light-card-hover: #B5ADE3FF;
$color-dark-card-hover: #539eb7;

$dialog-bg-light: rgba(152, 168, 168, 0.5);
$dialog-bg-dark: rgba(51, 58, 72, 0.5);
