@use 'sass:meta';
@use 'sass:color';
@include meta.load-css("tailwindcss");
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap');

$input-light-bg: rgb(191, 189, 189);
$input-dark-bg: #838383;

$input-light-text: #000;
$input-dark-text: #e3e2e2;

$navbar-light-bg: #010203;
$navbar-dark-bg: #010203;

$color-light-bg: #ededed;
$color-dark-bg: #071e2b;

$color-light-text: #071e2b;
$color-dark-text: #e3e2e2;

$color-light-card: #009689;
$color-dark-card: #009689;

$color-light-card-bg: #a5cdf766;
$color-dark-card-bg: #014f6766;

$color-primary: #038f60;       // Primary accent color (emerald-500)
$transition-speed: 0.3s ease;

:root {
  --navbar-bg: #{$navbar-light-bg};
  --bg-color: #{$color-light-bg};
  --text-color: #{$color-light-text};
  --card-bg-color: #{$color-light-card};

  --custom-card-bg-color: #{$color-light-card-bg};

  --primary-color: #{$color-primary};
  --primary-hover-color: #096848;

  --input-bg: #{$input-light-bg};
  color-scheme: light;
}

body.dark-theme {
  --navbar-bg: #{$navbar-dark-bg};
  --bg-color: #{$color-dark-bg};
  --text-color: #{$color-dark-text};
  --card-bg-color: #{$color-light-card};

  --custom-card-bg-color: #{$color-dark-card-bg};

  --input-bg: #{$input-dark-bg};

  color-scheme: dark;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  margin: 0;
  font-family: 'Plus Jakarta Sans', 'Inter', sans-serif;

  // setting the prime ng colors
  // input text
  --p-inputtext-background: var(--input-bg);
  --p-inputtext-focus-border-color: var(--text-color);
  --p-inputtext-focus-ring-shadow: var(--text-color);
  --p-inputtext-focus-ring-color: var(--text-color);
  --p-inputtext-placeholder-color: var(--text-color);
  --p-inputtext-color: var(--text-color);
  --p-inputtext-border-radius: 8px;
  --p-inputtext-border-color: var(--input-bg);
  --p-inputtext-hover-border-color: var(--text-color);

  // floatlabel
  --p-floatlabel-focus-color: var(--text-color);
  --p-floatlable-color: var(--text-color);

  --p-button-primary-background: var(--primary-color);

  // listbox
  --p-listbox-background: var(--input-bg);
  --p-listbox-option-color: var(--text-color);
  --p-listbox-border-color: var(--input-bg);
  --p-listbox-option-focus-background: lightgray;
  --p-listbox-option-selected-color: lightgray;
  --p-listbox-option-selected-background: lightgray;

  // inputnumber
  --p-inputnumber-input-background: var(--input-bg);
  --p-inputnumber-input-color: var(--text-color);
  --p-inputnumber-input-border-color: var(--input-bg);
  --p-inputnumber-input-hover-border-color: var(--text-color);
  --p-inputnumber-input-focus-border-color: var(--text-color);
  --p-inputnumber-input-focus-ring-shadow: none;
  --p-inputnumber-input-padding: 0.75rem;
  --p-inputnumber-border-radius: 8px;
  --p-inputnumber-button-border-radius: 8px;

  transition: background-color #{$transition-speed}, color #{$transition-speed};
}

.card {
  background-color: var(--custom-card-bg-color);
  border: none;
  border-radius: 16px;
  transition: all ease-in-out 0.2s;
  box-shadow: 0 0 5px color.change(gray, $alpha: 0.5);

}

.card:hover {
  box-shadow: 0px 0px 20px color.change(gray, $alpha: 0.5);
}
