@use 'sass:meta';
@include meta.load-css("tailwindcss");
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap');

$input-light-bg: rgb(191, 189, 189);
$input-dark-bg: #838383;

$input-light-text: #000;
$input-dark-text: #e3e2e2;

$navbar-light-bg: #010203;
$navbar-dark-bg: #010203;

$color-light-bg: #ededed;
$color-dark-bg: #071e2b;

$color-light-text: #071e2b;
$color-dark-text: #e3e2e2;

$color-light-card: #009689;

$color-primary: #10b981;       // Primary accent color (emerald-500)
$transition-speed: 0.3s ease;

:root {
  --navbar-bg: #{$navbar-light-bg};
  --bg-color: #{$color-light-bg};
  --text-color: #{$color-light-text};
  --card-bg-color: #{$color-light-card};

  --primary-color: #{$color-primary};
  --primary-hover-color: #096848;

  --input-bg: #{$input-light-bg};
  color-scheme: light;
}

body.dark-theme {
  --navbar-bg: #{$navbar-dark-bg};
  --bg-color: #{$color-dark-bg};
  --text-color: #{$color-dark-text};
  --card-bg-color: #{$color-light-card};

  --input-bg: #{$input-dark-bg};

  color-scheme: dark;
}

body {
  // Apply the theme background/text colors
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  margin: 0;
  font-family: 'Plus Jakarta Sans', 'Inter', sans-serif;

  // Smooth transition for a better user experience when toggling the theme
  transition: background-color #{$transition-speed}, color #{$transition-speed};
}
