@use 'sass:meta';
@use 'variables';

@include meta.load-css("tailwindcss");
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap');

:root {
  --navbar-bg: #{variables.$navbar-light-bg};
  --bg-color: #{variables.$color-light-bg};
  --text-color: #{variables.$color-light-text};
  --card-bg-color: #{variables.$color-light-card};

  --custom-card-bg-color: #{variables.$color-light-card-bg};

  --primary-color: #{variables.$color-primary};
  --primary-hover-color: #096848;

  --input-bg: #{variables.$input-light-bg};
  --input-bg-active: rgba(220, 241, 211, 0.62);

  --text-hover-color: #{variables.$color-light-text-hover};
  --card-hover-color: #{variables.$color-light-card-hover};

  --dialog-bg: #{variables.$dialog-bg};

  color-scheme: light;
}

body.dark-theme {
  background: linear-gradient(#0a5e62, #17082a);
  --navbar-bg: #{variables.$navbar-dark-bg};

  --bg-color: #{variables.$color-dark-bg};
  --text-color: #{variables.$color-dark-text};
  --card-bg-color: #{variables.$color-light-card};

  --custom-card-bg-color: #{variables.$color-dark-card-bg};

  --input-bg: #{variables.$input-dark-bg};

  --text-hover-color: #{variables.$color-dark-text-hover};
  --card-hover-color: #{variables.$color-dark-card-hover};

  color-scheme: dark;
}

body {
  background: linear-gradient(#9fd1d3, #b5ade3);
  color: var(--text-color);
  min-height: 100vh;
  margin: 0;
  font-family: 'Plus Jakarta Sans', 'Inter', sans-serif;

  // input text
  --p-inputtext-background: var(--input-bg);
  --p-inputtext-focus-border-color: var(--text-color);
  --p-inputtext-focus-ring-shadow: var(--text-color);
  --p-inputtext-focus-ring-color: var(--text-color);
  --p-inputtext-placeholder-color: var(--text-color);
  --p-inputtext-color: var(--text-color);
  --p-inputtext-border-color: var(--input-bg);
  --p-inputtext-hover-border-color: var(--text-color);

  // floatlabel
  --p-floatlabel-focus-color: var(--text-color);
  --p-floatlable-color: var(--text-color);

  --p-button-primary-background: var(--primary-color);
  --p-button-primary-border-color: var(--primary-color);
  --p-button-primary-color: whitesmoke;

  // listbox
  --p-listbox-background: var(--input-bg);
  --p-listbox-option-color: var(--text-color);
  --p-listbox-border-color: var(--input-bg);
  --p-listbox-option-focus-background: lightgray;
  --p-listbox-option-selected-color: lightgray;
  --p-listbox-option-selected-background: lightgray;

  // inputnumber
  --p-inputnumber-input-background: var(--input-bg);
  --p-inputnumber-input-color: var(--text-color);
  --p-inputnumber-input-border-color: var(--input-bg);
  --p-inputnumber-input-hover-border-color: var(--text-color);
  --p-inputnumber-input-focus-border-color: var(--text-color);
  --p-inputnumber-input-focus-ring-shadow: none;
  --p-inputnumber-input-padding: 0.75rem;
  --p-inputnumber-button-hover-background: var(--text-color);
  --p-inputnumber-button-active-background: lightgray;

  // datepicker
  --p-datepicker-input-icon-color: var(--text-color);

  // breadcrumb
  --p-breadcrumb-background: transparent;
  --p-breadcrumb-item-color: var(--text-color);
  --p-breadcrumb-item-hover-color: var(--card-hover-color);

  // dialog
  --p-dialog-background: var(--dialog-bg);

  // card
  --p-card-color: var(--text-color);
  --p-card-background: var(--input-bg);

  // progressbar
  --p-progressbar-border-radius: 0;

  transition: background-color #{variables.$transition-speed};
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.card {
  padding: 2.5rem;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 8px;
  transition: all ease-in-out 0.2s;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

footer {
  width: 100%;
  background-color: var(--custom-card-bg-color);
  border-top: 1px solid var(--text-color);
}

button {
  transition: all 0.3s ease;
}

.breadcrumb {
  background-color: transparent;
}

footer a:hover {
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

.element {
  margin-top: 0.8rem;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.ng-fa-icon {
  transition: all 0.1s ease-in-out;
}

.p-button .ng-fa-icon:hover {
  color: var(--text-hover-color);
}

.p-card:hover {
  cursor: pointer;
  background-color: var(--card-hover-color);
}
