<div class="grid grid-cols-2 h-full">

  <div class="ratings-given">
    <h1>Ratings given</h1>

    <p-selectbutton class="text-xs"
                    aria-labelledby="basic"
                    [options]="givenOptions"
                    [(ngModel)]="givenOption">
    </p-selectbutton>

    <ul class=" flex flex-col gap-3 h-full">

      @for (rating of givenRatings; track $index) {
        <li class="rating-list gap-2">

          <div class="flex flex-col gap-1 min-w-0 xl:flex-row xl:gap-3 xl:items-center">

            <p-rating
              [ngModel]="rating.value"
              [readonly]="true"
              [stars]="5"
              class="shrink-0">
            </p-rating>

            <div class="w-full min-w-0 flex items-center gap-1" pTooltip="{{ rating.comment }}">
              <span class="opacity-85 shrink-0">Comment:</span>
              <sup class="shrink-0 xl:hidden">
                <fa-icon [icon]="faInfoCircle" (click)="popover.toggle($event)"></fa-icon>
              </sup>
              <span class="truncate">{{ rating.comment }}</span>
            </div>
            <p-popover #popover>
              {{ rating.comment }}
            </p-popover>

            <div class="shrink-0 self-end">
              <span class="text-xs opacity-70">
                <span>From:</span>&nbsp;
                {{ rating.rater.fullName }}
              </span>
            </div>
          </div>

        </li>
      }
      @if (givenTotal > (givenPage + 1) * 10) {
        <p-button (click)="loadMoreGiven()">
          Load more
        </p-button>
      }
    </ul>

  </div>
  <div class="ratings-received">
    <h1>Ratings received</h1>

    <p-selectbutton class="text-xs"
                    aria-labelledby="basic"
                    [options]="receivedOptions"
                    [(ngModel)]="receivedOption">
    </p-selectbutton>

    <ul class=" flex flex-col gap-3 h-full">

      @for (rating of receivedRatings; track $index) {
        <li class="rating-list gap-2">

          <div class="flex flex-col gap-1 min-w-0 xl:flex-row xl:gap-3 xl:items-center">

            <p-rating
              [ngModel]="rating.value"
              [readonly]="true"
              [stars]="5"
              class="shrink-0">
            </p-rating>

            <div class="w-full min-w-0 flex items-center gap-1" pTooltip="{{ rating.comment }}">
              <span class="opacity-85 shrink-0">Comment:</span>
              <sup class="shrink-0 xl:hidden">
                <fa-icon [icon]="faInfoCircle" (click)="popover.toggle($event)"></fa-icon>
              </sup>
              <span class="truncate">{{ rating.comment }}</span>
            </div>
            <p-popover #popover>
              {{ rating.comment }}
            </p-popover>

            <div class="shrink-0 self-end">
              <span class="text-xs opacity-70">
                <span>From:</span>&nbsp;
                {{ rating.rater.fullName }}
              </span>
            </div>
          </div>
        </li>
      }
      @if (receivedTotal > (receivedPage + 1) * 10) {
        <p-button (click)="loadMoreReceived()">
          Load more
        </p-button>
      }
    </ul>

  </div>

</div>
