.ratings-received, .ratings-given {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.ratings-given {
  border-right: var(--text-color) 1px solid;
}

.ratings-received {
  margin-left: 1.2rem;
}

@media screen and (max-width: 767px) {
  ::ng-deep {
    .p-togglebutton {
      font-size: 0.7rem;
    }
  }
}

.rating-list {
  justify-content: space-between;
  padding: 0.5rem;
  transition: background-color 0.2s ease;
}
