<div class="grid grid-cols-2 h-full">

  <div class="ratings-received">
    <h1>Ratings received</h1>

    <p-selectbutton class="text-xs"
                    aria-labelledby="basic"
                    [options]="ratingOptions"
                    [(ngModel)]="option">
    </p-selectbutton>

    <ul class=" flex flex-col gap-3 h-full">

      @for (rating of myRatings; track $index) {
        <li class="profile-select-list text-xs md:text-sm lg:text-lg">
          <span class="text-xs">
          </span>
        </li>
      }
      @if (totalItems > (page + 1) * 10) {
        <p-button (click)="loadMore()">
          Load more
        </p-button>
      }
    </ul>

  </div>
  <div class="ratings-given">
    <h1>Ratings given</h1>

    <ul class=" flex flex-col gap-3 h-full">

      @for (rating of myRatings; track $index) {
        <li class="profile-select-list text-xs md:text-sm lg:text-lg">
          <span class="text-xs">
          </span>
        </li>
      }
      @if (totalItems > (page + 1) * 10) {
        <p-button (click)="loadMore()">
          Load more
        </p-button>
      }
    </ul>

  </div>

</div>
