:host {
  display: flex;
  flex-direction: column;
}

:host(.expanded-mode) {
  flex: 1;
  min-height: 20rem;
  margin-top: auto;
  height: 100%;
}

.chat-window-expandable {
  background-color: var(--secondary);
  color: var(--text-color);
  height: 2rem;
  width: 20rem;
  padding: 5px;
  border-radius: 8px;
  margin: 0.2rem;
}

.chat-window-expandable:hover {
  cursor: pointer;
}

.chat-window-expanded {
  background-color: var(--secondary);
  padding: 1rem;
  border-radius: 8px;

  height: 100%;
  display: flex;
  flex-direction: column;
}

.transparent-bg {
  background-color: transparent;
}

.chat-header {
  border-bottom: 1px solid var(--text-color);
}

.chat-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  flex: 1;
  min-height: 0;
}

.messages {
  overflow-y: auto;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
  scrollbar-width: thin;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input {
  margin-left: auto;
  margin-right: 0;
  height: 2rem;
  width: 100%;
  max-width: 20rem;
}

.p-inputgroup {
  input {
    width: 100%;
    padding: 0.5rem;
    border-left: var(--text-color) solid 1px;
    border-top: var(--text-color) solid 1px;
    border-bottom: var(--text-color) solid 1px;

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  fa-icon {
    color: var(--text-color);
  }

  .p-inputgroupaddon {
    background-color: transparent;
  }

  height: 2rem;
}

.message-sent {
  margin-bottom: 0.5rem;

  margin-left: auto;
  max-width: 85%;
  width: fit-content;

  background-color: rgba(255, 255, 255, 0.1);
  padding: 6px 8px;
  border-radius: 12px;
  text-align: left;
}

.message-received {
  margin-bottom: 0.5rem;

  margin-right: auto;
  max-width: 85%;
  width: fit-content;

  background-color: rgba(255, 255, 255, 0.1);
  padding: 6px 8px;
  border-radius: 12px;
}

.load-more-button {
  text-align: center;
  background-color: transparent;
}
