@if (!isExpanded()) {
  <div class="chat-window-expandable flex justify-between">
    <span>
      <fa-icon [icon]="faArrowCircleUp"></fa-icon>&nbsp;Send a message to&nbsp;{{ this.otherName() }}
    </span>

    <fa-icon class="justify-end hover:border-b"
             [icon]="faXmark"
             (click)="close.emit()">
    </fa-icon>
  </div>
} @else {
    <div class="chat-window-expanded"
       [class.transparent-bg]="backgroundTransparent()">
    <div class="chat-header flex justify-between text-lg md:text-xl">
      <span>
        <fa-icon [icon]="faUser"></fa-icon>&nbsp;{{ this.otherName() }}
      </span>

      <fa-icon class="justify-end hover:cursor-pointer"
               [icon]="faXmark"
               (click)="close.emit()">
      </fa-icon>
    </div>

    <div class="chat-body">
      <div #messagesContainer
           class="messages"
           (scroll)="onScroll()">
        @if (this.totalMessages > (this.page + 1) * 10) {
          <p-button class="load-more-button"
                    (click)="loadMore()">
            Load more
          </p-button>
        }
        @for (message of messages; track $index) {
          @if (message.sender === this.otherUsername()) {
            <div class="message-received text-xs md:text-base">{{ message.message }}</div>
          } @else {
            <div class="message-sent text-xs md:text-base">{{ message.message }}</div>
          }
        }
      </div>
    </div>

    <div class="input">
      <p-inputgroup>
        <input pInputText
               placeholder="Send your message"
               [(ngModel)]="currentMessage"/>
        <p-inputgroup-addon class="cursor-pointer"
                            (click)="sendMessage()">
          <fa-icon [icon]="faPaperPlane"></fa-icon>
        </p-inputgroup-addon>
      </p-inputgroup>
    </div>
  </div>
}
