.chat-window-expandable {
  background-color: var(--secondary);
  color: var(--text-color);
  height: 2rem;
  width: 20rem;
  padding: 5px;
  border-radius: 8px;
  margin: 0.2rem
}

.chat-window-expandable:hover {
  cursor: pointer;
}

.chat-window-expanded {
  width: 20rem;
  background-color: var(--secondary);
  padding: 1rem;
  border-radius: 8px;
}

.chat-header {
  border-bottom: 1px solid var(--text-color);
}

.chat-body {
  height: 15rem;
}

.input {
  height: 2rem;
  width: 100%;
}

.p-inputgroup {
  input {
    width: 100%;
    padding: 0.5rem;
    border-left: var(--text-color) solid 1px;
    border-top: var(--text-color) solid 1px;
    border-bottom: var(--text-color) solid 1px;

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  fa-icon {
    color: var(--text-color);
  }

  .p-inputgroupaddon {
    background-color: transparent;
  }

  height: 2rem;
}

.message-sent {
  margin-left: auto;
  margin-right: 0;
  width: fit-content;
}

.message-received {
  margin-right: auto;
  margin-left: 0;
  width: fit-content;
}
