h1 {
  margin-bottom: 1.2rem;
  color: var(--text-color);
}

.map-section {
  margin-top: 2rem;
  padding: 0 0.6rem;

  .map-container {
    margin: auto;
    width: 100%;
    height: 300px;
    min-height: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px 1px var(--text-color);
    z-index: 5!important;
    position: relative;


    @media (min-width: 768px) {
      height: 500px;
      width: 70%;
    }
  }
}

.location-button {
  width: 10% !important;
}

.custom-form-element {
  z-index: 10;
  margin: 0.6rem;

  input {
    padding: 0.75rem;
  }

  label {
    color: var(--input-text);
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
  }
}

::ng-deep .p-datepicker {
  input {
    width: 100%;
  }
}

.show-map {
  display: block !important;
}
