h1 {
  margin-bottom: 1.2rem;
}

button {
  transition: all 0.3s ease;
}

.search-button {
  z-index: 2 !important;
  position: relative;
  color: #e3e2e2;
  padding: 0.75rem;
  background-color: var(--primary-color);
  border: 1px #e3e2e2 solid;
  border-radius: 24px;
}

.search-button:hover {
  color: var(--primary-color);
  background-color: #e3e2e2;
  border: 1px var(--primary-color) solid;
  cursor: pointer;
}

.ride-info {
  margin:1rem;
}

.map-section {
  margin-top: 2rem;
  padding: 0 0.6rem;

  .map-container {
    margin: auto;
    width: 100%;
    height: 300px;
    min-height: 300px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px 1px var(--text-color);
    z-index: 5!important;
    position: relative;


    @media (min-width: 768px) {
      height: 500px;
      width: 70%;
    }
  }
}

.location-button {
  width: 10% !important;
}

.custom-form-element {
  z-index: 10;
  margin: 0.6rem;

  input:hover {
    border: 2px solid var(--text-color);
  }

  input {
    padding: 0.75rem;
    border: 2px solid var(--input-bg);
    border-radius: 8px;

    &:focus {
      outline: none;
      border-color: var(--input-bg);
      background-color: var(--bg-color)
    }
  }

  label {
    color: var(--input-text);
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
  }
}

::ng-deep .p-datepicker {
  p-datepicker:hover {
    background-color: var(--input-bg);
    color: var(--text-color);
    border-radius: 8px;
  }

  .p-inputtext:enabled:hover {
    border: 2px solid var(--text-color);
  }

  .p-datepicker-input-icon-container {
    color: var(--text-color);
  }

  .p-datepicker-input {
    color: var(--text-color);
  }

  .p-inputtext:enabled:focus {
    outline: none;
    border: 2px solid var(--input-bg);
    border-radius: 8px;
  }

  .p-datepicker-input {
    background-color: var(--input-bg);
    color: var(--text-color);
    padding: 0.75rem;
    border: 2px solid var(--input-bg);
    border-radius: 8px;

    &:focus {
      outline: none;
      border-color: var(--input-bg);
      background-color: var(--bg-color)
    }
  }

  input {
    width: 100%;
  }
}

.show-map {
  display: block !important;
}
