<h1 class="text-2xl m-3">Find your ride</h1>

<div class="ride-info">

  <div class="form-section grid grid-cols-1 gap-1 md:grid-cols-2 md:gap-4 md:align-middle">
    <div class="element">
      <div class="custom-form-element flex flex-row items-center md:w-2/3">

        <p-floatlabel class="flex-1 w-0">
          <input id="pickup"
                 class="w-full"
                 pInputText
                 [formControl]="pickupControl"/>
          <label for="pickup">Pickup city</label>
        </p-floatlabel>
        <span class="flex-shrink-0 ml-2">
          <p-button (click)="getLocation()"
                    pTooltip="Locate me"
                    tooltipPosition="top">
              <fa-icon [icon]='faLocationDot'></fa-icon>
            </p-button>
        </span>

      </div>
    </div>

    <div class="element">
      <p-floatlabel class="custom-form-element md:w-2/3">
        <input id="drop-off"
               pInputText
               class="w-full"
               [formControl]="dropoffControl"/>
        <label for="drop-off">Drop-off city</label>
      </p-floatlabel>
    </div>

    <div class="element">
      <p-datepicker class="custom-form-element md:w-2/3"
                    selectionMode="range"
                    [(ngModel)]="this.dateControl"
                    [iconDisplay]="'input'"
                    [dateFormat]="'yy/mm/dd'"
                    [showIcon]="true"
                    [placeholder]="'Select date range'"
                    iconDisplay="input">
      </p-datepicker>
    </div>

    <div class="element">
      <div class="custom-form-element md:w-2/3 flex">
        <button class="search-button flex-1">
          <fa-icon [icon]='faSearch'></fa-icon>
          Available rides
        </button>
      </div>
    </div>
  </div>

  <div class="map-section">
    <div>
    @if (isGetLocation && !position) {
      <div class="flex justify-center items-center" style="min-height: 300px;">
        <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s"
                            [style]="{ width: '50px', height: '50px' }" />
      </div>
    }
    @else if (isGetLocation && position) {
      <div class="map-container">
        <app-map-component [position]="position"></app-map-component>
      </div>
    }
    </div>
  </div>
</div>
