

.message-button:hover {
  cursor: pointer;
}

.ng-fa-icon:hover {
  color: var(--secondary);
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
    display: none;
  }
  to {
    transform: translateY(0);
  }
}
