

.message-button:hover {
  cursor: pointer;
}

.ng-fa-icon:hover {
  color: var(--secondary);
}

.message-container {
  position: fixed;
  bottom: 5px;
  right: 5px;
  animation: slide-in ease-in-out 0.4s both;
  animation-delay: 2000ms;
}

.no-animation-delay {
  animation-delay: 0ms !important;
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
    display: none;
  }
  to {
    transform: translateY(0);
  }
}
