::ng-deep {
  .p-button {
    background-color: transparent;
    border: none;
  }

  .p-button:not(:disabled):hover {
    background-color: transparent;
    border: none;
  }
}

.message-button:hover {
  cursor: pointer;
}

.ng-fa-icon:hover {
  color: var(--secondary);
}

.message-container {
  position: absolute;
  bottom: 5px;
  right: 5px;
  animation: slide-in ease-in-out 0.4s both;
  animation-delay: 2000ms;
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
    display: none;
  }
  to {
    transform: translateY(0);
  }
}
