#profile-name {
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

#rides {
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

.message-partner {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--custom-card-bg-color);
}

.message-partner:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
}

.chat-window {
  width: 100%;
  height: 100%;
}

.card {
  height: 35rem
}
