@if(isLoading()) {
  <div class="spinner-container">
    <p-progressbar mode="indeterminate" [style]="{ height: '6px' }"></p-progressbar>
  </div>
}

<div class="container mx-auto p-2 md:p-4 text-xs md:text-xl">

  <h1 class="text-3xl font-bold text-center mb-6">Your profile</h1>

  <div id="profile-name">
    <h1 class="text-2xl font-bold uppercase tracking-widest">
      {{ profile.fullName }}
    </h1>
  </div>

  <div class="grid grid-cols-2 md:grid-cols-4 text-center">

    <div id="drives"
         [class.active-tab]="selectedProfileTab() === ProfileTab.DRIVES"
         (click)="this.selectedProfileTab.set(ProfileTab.DRIVES)">
      <p class="text-xs uppercase mb-1">Drives</p>
      <p class="text-3xl font-bold">
        {{ profile.drives }}
      </p>
    </div>

    <div id="rides"
         [class.active-tab]="selectedProfileTab() === ProfileTab.RIDES"
         (click)="this.selectedProfileTab.set(ProfileTab.RIDES)">
      <p class="text-xs uppercase mb-1">Rides</p>
      <p class="text-3xl font-bold">
        {{ profile.rides }}
      </p>
    </div>

    <div id="ratings"
         [class.active-tab]="selectedProfileTab() === ProfileTab.RATINGS"
         (click)="this.selectedProfileTab.set(ProfileTab.RATINGS)">
      <p class="text-xs uppercase mb-1">Ratings</p>
      <p class="text-3xl font-bold">{{ profile.rating }}</p>
    </div>

    <div id="chats"
         [class.active-tab]="selectedProfileTab() === ProfileTab.CHATS"
         (click)="this.selectedProfileTab.set(ProfileTab.CHATS)">
      <p class="text-xs uppercase mb-1">Chats</p>
      <p class="text-3xl font-bold">{{ profile.chats }}</p>
    </div>
  </div>

  <div class="card w-full mt-5">
    @if (this.profile.username) {
      @switch (selectedProfileTab()) {
        @case (ProfileTab.CHATS) {
          <app-chat-tab-component [(isLoading)]="isLoading"
                                  [profile]="profile">
          </app-chat-tab-component>
        }
        @case (ProfileTab.RIDES) {
          <app-rides-tab-component>
          </app-rides-tab-component>
        }
        @case (ProfileTab.DRIVES) {

        }
        @case (ProfileTab.RATINGS) {

        }
      }
    }
  </div>

</div>
