#profile-name {
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

#rides {
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}
