#profile-name {
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

#rides {
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
}

.message-partner {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);
}

.message-partner:hover {
  cursor: pointer;
  background: linear-gradient(to right, rgba(248, 248, 248, 0.45), transparent);
}

.active {
  background: linear-gradient(to right, rgba(248, 248, 248, 0.45), transparent);
}

.chat-window {
  display: flex;
  flex-direction: column;
  min-height: 0;
  width: 100%;
  height: 100%;
}

.card {
  height: 35rem
}
