#profile-name {
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

#drives, #ratings {
  border-right: 1px solid var(--text-color);
}

#drives, #rides, #ratings, #chats {
  padding: 1rem;
}

#drives:hover, #rides:hover, #ratings:hover, #chats:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #rides {
    border-right: 1px solid var(--text-color);
  }
}

@media screen and (max-width: 767px) {
  #drives, #rides {
    border-bottom: 1px solid var(--text-color);
  }
}

.card {
  height: 35rem
}

.active-tab {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), transparent);
}
