.chat-window-expandable {
  background-color: var(--secondary);
  color: whitesmoke;
  height: 2rem;
  width: 20rem;
  padding: 5px;
  border-radius: 8px;
  margin: 0.2rem
}

.chat-window-expandable:hover {
  cursor: pointer;
}

.chat-window-expanded {
  width: 20rem;
  background-color: var(--secondary);
  padding: 1rem;
  border-radius: 8px;
}

.chat-header {
  border-bottom: 1px solid var(--text-color);
}

.chat-body {
  height: 15rem;
}
