.rides {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

@media screen and (max-width: 768px) {
  .profile-select-list {
    flex-direction: column;
  }
}
