<h1 class="text-2xl m-3">Make a new ride</h1>

<div class="drive-info">
  <div class="form-section grid grid-cols-1 gap-1 md:grid-cols-2 md:gap-4 md:align-middle">
    <div class="element">
      <div class="custom-form-element flex flex-row items-center md:w-2/3">
        <div class="flex-1 flex flex-col">
        <p-floatlabel>
          <input id="car-make"
                 class="w-full"
                 pInputText
                 [formControl]="carControl"
                 (input)="this.showCarMakes = true"
                 (blur)="this.showCarMakes = false"
                 [class.car-control-active]="showCarMakes"/>
          <label for="car-make">Enter your car make</label>
        </p-floatlabel>
        @if (showCarMakes) {
          <p-listbox [options]="carMakesFiltered().length > 0 ? carMakesFiltered() : ['No match']"
                     [formControl]="carControl"
                     [disabled]="carMakesFiltered().length === 0"
                     class="w-full" />
        }
        </div>
      </div>
    </div>

    <div class="element">
      <p-floatlabel class="custom-form-element md:w-2/3">
        <input id="drop-off"
               pInputText
               class="w-full">
        <label for="drop-off">Drop-off city</label>
      </p-floatlabel>
    </div>

    <div class="element">
      <p-datepicker class="custom-form-element md:w-2/3"
                    selectionMode="range"
                    [iconDisplay]="'input'"
                    [dateFormat]="'yy/mm/dd'"
                    [showIcon]="true"
                    [placeholder]="'Select date range'"
                    iconDisplay="input">
      </p-datepicker>
    </div>

    <div class="element">
      <div class="custom-form-element md:w-2/3 flex">
        <button class="search-button flex-1">
          <fa-icon [icon]='faSearch'></fa-icon>
          Available rides
        </button>
      </div>
    </div>
  </div>
</div>
