.p-datepicker input {
  background-color: var(--input-bg);
  color: var(--text-color);
}

.custom-form-element {
  z-index: 10;
  margin: 0.6rem;

  label {
    color: var(--input-text);
    font-size: 0.9rem;
    font-weight: 500;
    border: none;
  }
}

::ng-deep .p-datepicker {
  input {
    width: 100%;
  }
}

.car-makes-list {
  margin: 0.6rem;
}

.drive-info {
  margin: 1rem;
}

.p-listbox {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

.p-listbox .p-listbox-item {
  color: var(--text-color);
}

.car-control-active {
  border-bottom: none!important;
  border-bottom-left-radius: 0!important;
  border-bottom-right-radius: 0!important;
}
