<div class="grid grid-cols-3 h-full">

  <div class="flex flex-col gap-3 h-full">
    @for (partner of partners; track $index) {
      <div class="profile-select-list text-xs md:text-xl"
           [class.profile-active-select]="partner.username === selectedChatPartner()?.username"
           (click)="chatWithPartner(partner)">
        <fa-icon [icon]="faUser" style="font-size: 1rem;">
        </fa-icon>&nbsp;
        {{ partner.fullName }}
      </div>
    }
    @if (totalItems > (page + 1) * 10) {
      <p-button (click)="loadMore()">
        Load more
      </p-button>
    }
  </div>

  @if (this.selectedChatPartner()) {
    <div class="chat-window col-span-2">
      <app-chat-component class="expanded-mode"
                          [backgroundTransparent]="true"
                          [isExpanded]="true"
                          [otherUsername]="this.selectedChatPartner()?.username ?? ''"
                          [otherName]="this.selectedChatPartner()?.fullName ?? ''">
      </app-chat-component>
    </div>
  } @else {
    <div class="col-span-2">
      <h1 class="text-center">Select a partner to chat with</h1>
    </div>
  }
</div>
