.nav-bar {
  background-color: var(--navbar-bg);
  color: #e3e2e2;
  position: fixed;
  width: 100%;
  z-index: 1500;
  top: 0;
  left: 0;
}

.nav-item {
  user-select: none;
}

.nav-item > button:hover {
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 32px;
}

a {
  transition: all 0.3s ease;
}

.active {
  width: 10%;
  padding: 0.6rem;
  border-radius: 32px;
  box-shadow: 0 0 5px 3px #fffcfc;
}

.active-mobile {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

.theme-mobile {
  background-color: var(--input-text)
}
