::ng-deep {
  .user-icon {
    .p-button {
      background-color: transparent;
      border: none;
    }
  }

  .user-icon {
    .p-button:not(:disabled):hover {
      background-color: transparent;
      border: none;
    }
  }
}

.p-card {
  transition: all 0.3s ease;
}

.p-card:hover {
  transform: translate(0, -0.3rem)
}

.filter-container {
  display: flex;
  align-items: end;
  padding: 0.2em;
}

.filter-container .filter:hover {
  cursor: pointer;
}

::ng-deep .p-datepicker {
  input {
    width: 100%;
  }
}
